@model IOweYou.Models.User
@{
    ViewBag.Title = "Your Account";
}


<div class="container">
    
    <div class="text-center">
        <h1 class="text-primary">Your Account</h1>
        <p class="m-0">@Model.Username &bull; @Model.Email</p>
        <p class="text-secondary m-0">Since @Model.DateCreated.ToString("dd.MM.yyyy")</p>
    </div>
    
    <div class="text-center">
        <img style="width: 100%; max-width: 200px" src="/api/qr/@Model.Username"/>
        <h5 class="text-secondary m-0 fst-italic" style="margin-top: -20px !important;">Share your page!</h5>
    </div>

    <div class="mt-4 d-grid gap-2 w-50 m-auto">
        <a class="btn btn-outline-primary" href="logout">Logout</a>
        <a class="btn btn-secondary" href="changeusername">Change Username</a>
        <a class="btn btn-secondary" href="changeemail">Change Email</a>
        <a class="btn btn-secondary" href="changepassword">Change Password</a>
        <a class="btn btn-danger" href="deleteaccount">Delete Account</a>
    </div>
</div>





<div class="container mt-4">
    
</div>