@model IOweYou.ViewModels.Account.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-lg">
            <div class="card-body">
                <h3 class="text-center">Change Password</h3>

                @{
                    var token = ViewBag.Token ?? "";
                    var useToken = token != "";
                }
                <form method="post">
                    
                    <input type="text" asp-for="Token" value="@token" hidden/>
                    <input type="checkbox" checked="@useToken" asp-for="UseToken" hidden/>

                    @if (!useToken)
                    {
                        <div class="mb-3">
                            <label asp-for="OldPassword" class="form-label">Old Password</label>
                            <input type="password" class="form-control password-field" asp-for="OldPassword">
                            <span asp-validation-for="OldPassword" class="text-danger"></span>
                        </div>
                    }
                    else
                    {
                        <input type="text" value="-" asp-for="OldPassword" hidden/>
                    }
                    <div class="mb-3">
                        <label asp-for="NewPassword" class="form-label">New Password</label>
                        <input type="password" class="form-control password-field" asp-for="NewPassword">
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="ConfirmPassword" class="form-label">Confirm New Password</label>
                        <input type="password" class="form-control password-field" asp-for="ConfirmPassword">
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                    @if (ViewBag.ErrorMessage != null)
                    {
                        <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
                    }
                    <button type="submit" class="btn btn-primary w-100">Change Password</button>
                </form>
                @if (!useToken)
                {
                    <div class="text-center mt-3">
                        <a href="/account">Go back to Account</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>