@using IOweYou.Models.Shared
@using IOweYou.Models.Transactions
@model IOweYou.ViewModels.Transactions.SendViewModel
@{
    ViewBag.Title = "Send Money";
}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-lg">
            <div class="card-body">
                <h3 class="text-center">Send Money</h3>
                <form method="post">
                    <div class="mb-3">
                        <label asp-for="UserToSendTo" class="form-label">Recipient Username</label>
                        <input type="text" class="form-control" id="recipient" autocomplete="off" asp-for="UserToSendTo">
                        @await Html.PartialAsync("_SearchBar", new SearchBarViewModel()
                        {
                            Id = "recipient",
                            Link = "/Search/Usernames",
                            SendOnClick = false
                        })
                        <span asp-validation-for="UserToSendTo" class="text-danger"></span>
                    </div>
                    
                    <div class="d-flex align-items-center mb-3">
                        
                        <div class="me-2 w-50">
                            <label asp-for="Value" class="form-label">Amount</label>
                            <input type="number" class="form-control" asp-for="Value">
                            <span asp-validation-for="Value" class="text-danger"></span>
                        </div>

                        <div class="w-50">
                            <label asp-for="Currency" class="form-label">Currency</label>
                            <select class="form-select" asp-for="Currency">
                                <option hidden disabled selected value="">Select a currency</option>
                                @if (ViewBag.CurrencyList != null)
                                {
                                    foreach (Currency item in ViewBag.CurrencyList)
                                    {
                                        <option value="@item.Name">@item.Name</option>
                                    }
                                }
                            </select>
                            <span asp-validation-for="Currency" class="text-danger"></span>
                        </div>
                    </div>
                    
                    @if (ViewBag.ErrorMessage != null)
                    {
                        <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
                    }
                    <div class="alert alert-secondary new-balance-info" style="display: none">Your new balance with dermrvn will be <span style="color:red">-3</span> Kebab</div>
                    <button type="submit" class="btn btn-primary w-100">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

    const userField = $("input[name=UserToSendTo]")
    const amountField = $("input[name=Value]")
    const currencyField = $("select[name=Currency]")
    
    const updateDisplay = () => {
        const info = $(".new-balance-info")
        
        let username = userField.val();
        let amount = amountField.val();
        let currency = currencyField.val();
        
        if (username && amount && currency){
            console.log(username, amount, currency)
            $.ajax({
                url: "/Search/BalanceWithPartner",
                type: "GET",
                data: { partnerName: username, currency: currency },
                success: function (response) {

                    const setNewInfo = (username, newBalance, currency) => {
                        let newBalanceObj = $("<span></span>").text(newBalance).css("color", newBalance > 0 ? "green" : "red")
                        info.empty()
                        info.append("Your new balance with ", username, " will be ", newBalanceObj, " ", currency);
                        info.show();
                    }

                    if (amount < 0 || response.length === 0) {
                        info.hide();
                        return;
                    }
                    
                    if (response === "NotYet"){
                        setNewInfo(username, -amount, currency)
                    }else{
                        let current = response["amount"]
                        setNewInfo(username, current-amount, currency)
                    }
                }
            });
        }
        
    }

    userField.on("keyup", updateDisplay)
    amountField.on("keyup", updateDisplay)
    currencyField.on("change", updateDisplay)
    
</script>


