@model List<IOweYou.Models.Transactions.Transaction>
@{
    ViewBag.Title = "Transactions";
}
<h1 class="text-center">Transaction History</h1>

<div class="container mt-4">
    @if (@Model.Count > 0)
    {
        @foreach (var transaction in @Model)
        {
            @await Html.PartialAsync("_Transaction", transaction)
        }
    }
    else
    {
        <div class="alert alert-info text-center" role="alert">
            No transactions available
        </div>
    }
</div>
