@model User
@{
    ViewBag.Title = "Dashboard";
}
<div class="text-center">
    <h1>Welcome @Model.Username</h1>
    <div class="mt-4">
        <a href="/send" class="btn w-25 btn-primary">Send</a>
    </div>
    
    <div class="mt-4">
        <a href="/balances" class="btn btn-outline-primary">View Balances</a>
        <a href="/transactions" class="btn btn-outline-primary">View Transactions</a>
    </div>
</div>