.arrow{
    height: 20px;
}

.arrow::before, .arrow::after{
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    width: 0;
    height: 0;
}

.arrow.left::before{
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 45px solid darkgray;
}
.arrow.left::after{
    width: 300px;
    height: 4px;
    background: darkgray;
}

.arrow.right::before{
    width: 300px;
    height: 4px;
    background: darkgray;
}
.arrow.right::after{
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 45px solid darkgray;
}
