@model List<IOweYou.Models.Transactions.Balance>

@foreach (var balance in @Model)
{
    if (balance.Amount != 0)
    {
        var color = balance.Amount > 0 ? "positive" : "negative";
        <li class="text-center cstm-list-item">
            @if ((bool)(ViewData["showUsernamesInBalances"] ?? false))
            {
                <a class="text-primary" href="/user/@balance.ToUser.Username">@balance.ToUser.Username</a>
            }
            <div>
                <span class="@color cstm-currency">@balance.Amount</span> @balance.Currency.Name
            </div>
            <a class="btn btn-sm btn-outline-primary mt-2" href="resolve/@balance.ID">Resolve</a>
            <hr class="cstm-hr">
        </li>
    }
}


<style>
    .positive {
        color: green;
        font-weight: bold;
    }
    .negative {
        color: red;
        font-weight: bold;
    }
    .cstm-hr{
        width: 100%;
        margin: 0;
        margin-top: 15px;
    }
    .cstm-currency{
        font-size: 1.25rem;
        font-weight: bold;
    }
    .cstm-list-item{
        margin-bottom: 1rem;
    }
</style>