@model IGrouping<User, IOweYou.Models.Transactions.Balance>
@{
    var user = @Model.Key;
}
    <div class="card-body">
        <h3 class="card-title text-center text-primary">@user.Username</h3>
        <ul class="list-group compact-list mt-3 cstm-list">
            @foreach (var balance in @Model)
            {
                if (balance.Amount != 0)
                {
                    var color = balance.Amount > 0 ? "positive" : "negative";
                    <li class="text-center cstm-list-item">
                        <div>
                            <span class="@color cstm-currency">@balance.Amount</span> @balance.Currency.Name
                        </div>
                        <a class="btn btn-sm btn-outline-secondary mt-2" href="resolve?bid=@balance.ID">Resolve</a>
                        <hr class="cstm-hr">
                    </li>
                }
            }
        </ul>
    </div>


<style>
    .positive {
        color: green;
        font-weight: bold;
    }
    .negative {
        color: red;
        font-weight: bold;
    }
    .cstm-hr{
        width: 100%;
        margin: 0;
        margin-top: 15px;
    }
    .cstm-currency{
        font-size: 1.25rem;
        font-weight: bold;
    }
    .cstm-list{
        list-style: none;
        padding: 0;
    }
    .cstm-list-item{
        margin-bottom: 1rem;
    }
</style>